/NF2/nbproject/private/
/NF2/build/
/NF2/dist/
/JavaFet_a_Casa/nbproject/private/
/JavaFet_a_Casa/build/
/NF2/Utilitats/nbproject/private/
/NF2/src/Utilitats/nbproject/private/
/UF4/nbproject/private/
/UF4/build/
/exam_uf1_jeremy_2023/nbproject/private/
/exam_uf1_jeremy_2023/build/
/rectangle_main/nbproject/private/
/ptNF1_UF4_Jeremy/nbproject/private/
/pt1uf4/nbproject/private/
/soluciop1nf1_pokemondigimon/nbproject/private/
/soluciop1nf1_pokemondigimon/build/
/correccio_exam/nbproject/private/
/correccio_exam/build/
/ArrayList/nbproject/private/
