/NF2/nbproject/private/
/NF2/build/
/NF2/dist/
/JavaFet_a_Casa/nbproject/private/
/JavaFet_a_Casa/build/
/NF2/Utilitats/nbproject/private/
/NF2/src/Utilitats/nbproject/private/
/UF4/nbproject/private/
/UF4/build/
/exam_uf1_jeremy_2023/nbproject/private/
/exam_uf1_jeremy_2023/build/
/rectangle_main/nbproject/private/
/ptNF1_UF4_Jeremy/nbproject/private/
/pt1uf4/nbproject/private/
/soluciop1nf1_pokemondigimon/nbproject/private/
/soluciop1nf1_pokemondigimon/build/
/correccio_exam/nbproject/private/
/correccio_exam/build/
/ArrayList/nbproject/private/
/Prueba Interfaz/nbproject/private/
/combatPokemon/nbproject/private/
/main clash royale uf4/nbproject/private/
/M04_java/nbproject/private/
/UF5/nbproject/private/
/UF5/build/
/lanzarExceptions/nbproject/private/
/CombatPoke/nbproject/private/
/CombatPoke/build/
/CombatePokemon/nbproject/private/
/MenuApp/nbproject/private/
/PatrullaCanina/nbproject/private/
/PatrullaCanina/build/
/AlbumCromos/nbproject/private/
/AlbumCromos/build/
/CollectionSet/nbproject/private/
/CollectionSet/build/
/JavaApplication91/nbproject/private/
/Hashmap/nbproject/private/
/Hashmap_prova/nbproject/private/
/Hashmap_prova/build/
/Hashmap_prova/dist/
/Provafichero/nbproject/private/
/Provafichero/build/
/FicheroEscrituraCaracteres/nbproject/private/
/FicheroLecturaByte/nbproject/private/
/Contactos/nbproject/private/
/Contactos/build/
/AgendaApp/nbproject/private/
/ExerciciFitxer/nbproject/private/
/ExerciciFitxer/build/
/Alumne/nbproject/private/
/Alumne/build/
/CopyBytes/nbproject/private/
/CopyBytes/build/
/ExamenUF3Jeremy/nbproject/private/
/ExamenUF3Jeremy/build/
/UF6/nbproject/private/
/ ShowCountriesJdbcMySql/nbproject/private/
/ ShowCountriesJdbcMySql/build/
/UF6/CategProdUI2/nbproject/private/
/Calculadora/nbproject/private/
/Calculadora/build/
/HelloWorldGUI/nbproject/private/
/HelloWorldGUI/build/
/CalculoIMC/nbproject/private/
/CalculoIMC/build/
/CalculoIMC/dist/
